<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
</head>

<body>
    <header>
        <h1><%=book.title%></h1>
    </header>
    <nav>
        <button>
        <a href="/books">
           Home 
        </a>
        </button>
    </nav><br/>
    
    <div>
        <form class="ed" action="/books/<%=book.id%>?_method=PUT" method="POST">
            Title: <input type="text" name="title" value="<%=book.title%>"/><br/>
            Price: <input type="number" name="price" value="<%=book.price%>"/><br/>
            Quantity: <input type="number" name="qty" value="<%=book.qty%>"/><br/>
            Is It Worth Reading: <input type="checkbox" name="worthReading" <%
            if(book.worthReading === true){ %> checked <% } %> /><br/>
            Rating: <input type="number" name="rating" value="<%=book.rating%>"/><br/>
            Image Link:<input type="text" name="img" value="<%=book.img%>"/><br/>
            Description:<input type="text" name="description" value="<%=book.description%>"/><br />
            Genre:<input type="text" name="genre" value="<%=book.genre%>"/><br/>
            <input type="submit" name="" value="Submit Edit"/>
        </form>
    </div>
    <form action="/books/<%=book.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>

</body>

</html>