<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/edit.css">
</head>

<body>
   
    <nav>
        <button>
        <a href="/books">
           Home 
        </a>
        </button>
        <form action="/books/<%=book.id%>?_method=DELETE" method="POST">
            <input class="delete" type="submit" value="Delete">
        </form>
    </nav><br/>
    
    <div>
        <form class="ed" action="/books/<%=book.id%>?_method=PUT" method="POST">
            <p>Title:</p> <input type="text" name="title" value="<%=book.title%>"/><br/>
            <p>Price:</p> <input type="number" name="price" value="<%=book.price%>"/><br/>
            <p>Quantity:</p> <input type="number" name="qty" value="<%=book.qty%>"/><br/>
            <p>Is It Worth Reading:</p> <input type="checkbox" name="worthReading" <%
            if(book.worthReading === true){ %> checked <% } %> /><br/>
            <p>Rating:</p> <input type="number" name="rating" value="<%=book.rating%>"/><br/>
            <p>Image Link:</p><input type="text" name="img" value="<%=book.img%>"/><br/>
            <p>Description:</p><input type="text" name="description" value="<%=book.description%>"/><br />
            <p>Genre:</p><input type="text" name="genre" value="<%=book.genre%>"/><br/>
            <p>Author:</p><input type="text" name="author" value="<%=book.author%>"/><br/>
            <input class="submit" type="submit" name="" value="Submit Edit"/>
        </form>
        
    </div>
    

</body>

</html>