<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	</head>
	<body>
		<h1>Welcome to Book Easy</h1>
        <ul>
            <% for(let i = 0; i < books.length; i++){ %>
            <div>
                <li>
                    The <a href="/books/<%=books[i].id; %>">
                        <%=books[i].title; %>
                    </a> 
                    |
                    <a href="/books/<%=books[i].id%>/edit">Edit</a>
                    is it worth reading?<%=books[i].worthReading;%>.
                    <% if(books[i].worthReading === true){ %>
                        It is worth reading
                    <% } else { %>
                        It is not worth reading
                    <% } %>
                    <form action="/books/<%=books[i].id%>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete">
                    </form>                    
                </li>
            </div>
            <% } %>
        </ul>
    <nav>
        <a href="/books/new">Add A New Book</a>
    </nav>
	</body>
</html> 