<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/app.css">
    <title></title>
</head>

<body>
    <header>
        <h1>Welcome to Book Easy</h1>
    </header>

    <section>
        <div class="container">
            <% for(let i=0; i < books.length; i++){ %>
                <div>
                    <a href="/books/<%=books[i].id; %>">
                        <%=books[i].title; %>
                    </a> <br />
                    <img src="<%=books[i].img%>"><br />
                    <a href="/books/<%=books[i].id%>/edit">Edit</a><br />
                    <article>
                                 <p>Genre: <%=books[i].genre%><br/>
                                    Price: <%=books[i].price%>$<br/>
                            Author: <%=books[i].author%></p><br/>
                    </article>
                </div>
                <% } %>
        </div>
    </section>
    <nav>
        <a href="/books/new">Add A New Book</a>
    </nav>
</body>

</html>