<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Macondo&display=swap">
    <title>Document</title>
</head>
<body>
    <h1><%=book.title%></h1>
    <nav> 
        <button>
        <a href="/books">
           Home
        </a> 
        </button> 
        <% if(book.qty> 0){ %>
      <form action="/books/<%=book.id%>/buy?_method=PUT" method="POST">
          <input class='buy' type="submit" value="Buy"></input>
        </form>
          <% } else { %>
             <a></a>
              <% } %>
    </nav>

    <div>
        <p><img src="<%=book.img%>" alt=""><br/><br/>
        <%=book.title%>, Costs <%=book.price %>$ <br/><br/>

        <% if(book.qty> 0){ %>
            There are <%=book.qty %> copies of this book left!<br/><br/>
          <% } else { %>
             Not in stock<br/><br/>
              <% } %>

             Is It Worth Reading?
              <% if(book.worthReading===true){ %>
                It is worth reading!<br/><br/>
                <% } else { %>
                    It is not worth reading!<br/><br/>
                    <% } %>

                Description: <%=book.description%>
            </p>
    </div>

    

</body>
</html>